.PizzaGalleryItem{
    font-size: .7rem;
    padding: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border: 1px dashed black;
}

.PizzaDescription{
    width: 80%;
    margin: 0 auto;
}